<section class="message_container">
  <div class="message_avatar_wrapper">
      <%= image_tag(message.user.avatar.variant(resize: '30x30'),class: 'message_avatar') %>
      <span class="message_avatar_name"><%= message.user.last_name%></span>
  </div>

  <div class="message_content_wrapper">
    <!-- 投稿したメッセージ内容を記述する -->
    <%= image_tag message.image.variant(resize: '100x100'), class: 'content_image' if message.image.attached? %>
    <div class="message_content_container">
      <span class="message_letter">
        <%= message.content %>
      </span>
      <div class="message_date">
        <!-- 投稿した時刻を出力する -->
        <%=l message.created_at %>
      </div>
    </div>
  </div>
</section>