<section class="title_wrapper">  
  <div class="chat_title">
    <h1>チャットルーム</h1>
  </div>
</section>


<section class="room_wrapper">
  <div class="messages">
     <%= render partial: 'message', collection: @messages %>
  </div>

  <div class="chat_form_wrapper">
    <%= form_with model: [@room, @message], local: true do |f| %>
      <label class="form_image">
          <span>&#9834;</span>
          <%= f.file_field :image, class: 'hidden' %>
      </label>
        <%= f.text_field :content, class: 'form_message', placeholder: 'Type a Message' %>
      
      <%= f.submit '送信', class: 'form_button' %>
    <% end %>
  </div>
</section>