<section class="title_wrapper">  
  <div class="chat_title">
    <h1>New Chat</h1>
  </div>
</section>

<section class="room_wrapper">
  <% if user_signed_in? %>
  <%= image_tag('admin.png', :size => '200x200',class: 'chat_avatar_image', id: 'admin_border') %>
    <div class="chat_avatar_name">
       <%= Admin.find_by(admin_name:"admin").admin_last_name %>&nbsp;&nbsp;&nbsp;<%= Admin.find_by(admin_name:"admin").admin_first_name %>
    </div>
  <% elsif admin_signed_in? %>
    <%= image_tag(@users.find(params[:format].to_i).avatar.variant(resize: '200x200'),id: 'user_chat_title_image') %>
  <div class="chat_avatar_name">
    <%= @users.find(params[:format].to_i).last_name %>&nbsp;&nbsp;&nbsp;<%= @users.find(params[:format].to_i).first_name %>
  </div>
  <% end %>
  <%=form_with model: @admin_room, url: adminrooms_path, local: true do |f|%>
    <input name="admin_room[admin_id]" type="hidden" value=<%= 1 %>>
    <input name="admin_room[user_id]" type="hidden" value=<%= params[:format].to_i%>>
    <input name="admin_room[target_id]" type="hidden" value=<%= params[:format].to_i%>>
  <div class="create_new_chat_room">
    <%= f.submit "新しいチャットルームを作る",class: 'create_room_button' %>
  </div>
   <% end %>
</section>