<div class="search_schedule_wrapper">
  <%= form_with(url: search_schedules_path, local: true, method: :get, class:"search_form") do |form| %>
    <%= form.text_field :keyword, placeholder: "スケジュールを検索する", class: "search_input" %>
    <%= form.submit "検索", class: "search_btn" %>
  <% end %>
</div>
<% if @searched_schedule.present? %>
<div class="search_contents_wrapper">
  <span class="search_title">
  検索結果
  </span>
  <div class="search_contents">
  <ul class="subtitle_column">
    <li>Date</li>
    <li>Time</li>
    <li>Subject</li>
  </ul>
    <% @searched_schedule.each do |schedule| %>
      <%= render partial: "schedule", locals: { schedule: schedule} %>
    <% end %>
  <% elsif %>
    <%= render template: "confirmedschedules/index" %>
  <% end %>
  </div>
</div>