<div class="side_bar">
  <div class="login_wrapper">
      <div class="school_name">
          <%= link_to image_tag("TeachingBuddy_logo.png", class:"teaching_logo"), "/" %>
      </div>
  
      <% unless user_signed_in? || admin_signed_in? %>
      <div class="admin_container">
          <%= link_to 'Sign In' , new_admin_session_path, class: 'admin' %>
      </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="user_name">
          <div class="user_hover">
              <%= link_to image_tag(current_user.avatar.variant(resize: '30x30'
                              ),class: 'user_img' ), edit_user_path(current_user.id),method:
                              :get if current_user.avatar.attached? %>
              <%= link_to current_user.user_name,edit_user_path(current_user.id),method: :get if current_user.avatar.attached?%>
              <%= link_to current_user.user_name,edit_user_path(current_user.id),method: :get, class: 'user_name_link' unless current_user.avatar.attached?%>
          </div>
          <div class="sir">&nbsp;様</div>
      </div>
      <div class="logout">
          <%= link_to 'Sign Out' , destroy_user_session_path, method: :delete %>
      </div>
      <% elsif admin_signed_in? %>
      <div class="admin_name">
          <%= current_admin.admin_name %>&nbsp;様
      </div>
      <div class="logout">
          <%= link_to 'Sign Out' , destroy_admin_session_path, method: :delete %>
      </div>
      <% else %>
      <button id="open_change" onclick="user_change()">
          <span class="circle_button" title="教職員"></span>
      </button>
      <button id="close_change" onclick="user_change()">
          <span class="circle_button" style="background-color:red" title="管理者"></span>
      </button>
      <div class="login_container">
          <%= link_to 'Sign In' , new_user_session_path,class: 'login' %>
      </div>
      <div class="regi_user">
          <%= link_to 'Sign Up' ,registrations_users_path %>
      </div>
      <% end %>
  </div>
  <div class="menu_wrapper">
      <nav class="menu_nav">
          <div class="menu_lists">
              &nbsp;&nbsp;<%= link_to '授業一覧' ,confirmedschedules_path %>
          </div>
          <% if admin_signed_in? %>
          <div class="menu_lists">
              &nbsp;&nbsp;<%= link_to '新規授業登録' ,new_schedule_path %>
          </div>
          <div class="menu_lists">
              &nbsp;&nbsp;<%= link_to '授業承認' ,schedules_path %>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <div class="menu_lists">
              &nbsp;&nbsp;<%= link_to 'エントリー' ,schedules_path %>
          </div>
          <% end %>
      </nav>
      <button type="button" class="page-btn" onclick="menu()">
          <h1 class="menu_name" style="font-weight:bold;">Menu</h1>
      </button>
      <button type="button" class="page-btn-close" onclick="menu()">
          <h1 class="menu_name" style="font-weight:bold;">Menu&#9836;</h1>
      </button>
  </div>
</div>