<%= render "shared/header_admin"%>

<div class="common_container">
  <section class="account_title_wrapper">
    <div class="account_title">
       <h1>Administrator</h1>
    </div>
  </section>

  <%= form_with model: @admin, url: admin_session_path, class: 'account_form admin', local: true do |f| %>
    <div class="form_wrap">
      <div class="selection_form_wrapper">
        <div class="field_container">
          <label class="form_caption">メールアドレス</label>
          <%= f.email_field :email, class:"input_field", placeholder:"メールアドレス",autofocus: true %>
        </div>
        <div class="field_container">
          <label class="form_caption">パスワード</label>
          <%= f.password_field :password, class:"input_field", placeholder:"パスワード" %>
        </div>
        <div class="btn_wrapper">
          <%= f.submit "Sign In", class: "form_btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<section class="footer_wrapper">
  <%= render "shared/footer"%>
</section>

