<section class="title_wrapper">
  <div class="title">
      <h1>Bullentin Board</h1>
  </div>

  <div class="date_title">
      <%= @this_year %>年
      <%= @this_month %>月
      <%= @this_day %>日 (<%= @this_wday%>)
  </div>
</section>

<section class="table_wrapper">
  <table class="board_table">
      <thead>
          <tr>
              <th id="board_name">Name</th>
              <th id="board_date">Date</th>
              <th id="board_memo">Memo</th>
              <th id="board_edit">Edit</th>
              <th id="board_delete">Delete</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                <%= image_tag(@board.user.avatar.variant(resize: '30x30' ),class:'board_user_name_image') %>
                   <span class="board_user_name"><%= @board.user.user_name %></span>
            </td>
            <td>
                <%= @board.created_at.strftime('%Y年%m月%d日') %>
            </td>
            <%=form_with(model: @board, local: true)do |form| %>
            <td>
                <%= form.text_field :post, class: "edit_comment" ,maxlength:"46",autofocus: true %>
            </td>
            <td>
                <%= form.submit '修正' , class: "edit_comment" %>
            </td>
            <% end %>
            <td>
               <%= link_to '削除' , board_path(@board.id), method: :delete, class: 'delete_comment', id: 'modify_delete_comment' %>
            </td>
        </tr>
      </tbody>
  </table>
  <%= link_to '戻る' ,root_path, id:"back" %>
</section>