<section class="title_wrapper">
  <div class="title">
      <h1>Bullentin Board</h1>
  </div>
  
  <div class="date_title">
      <%= @this_year %>年
      <%= @this_month %>月
      <%= @this_day %>日 (<span class="wday"><%= @this_wday%></span>)
  </div>
</section>

<section class="table_wrapper">
  <table class="board_table">
      <thead>
          <tr>
              <th id="board_name">Name</th>
              <th id="board_date">Date</th>
              <th id="board_memo">Memo</th>
              <th id="board_edit">Edit</th>
              <th id="board_delete">Delete</th>
          </tr>
      </thead>
      <tbody>
          <% @boards.each do |board| %>
          <tr>
              <td>
                  <%= image_tag(board.user.avatar.variant(resize: '30x30' ),class:'board_user_name_image') %>
                  <span class=board_user_name><%= board.user.last_name %></span>
              </td>
              <td>
                  <%= board.created_at.strftime('%Y年%m月%d日') %>
              </td>
              <td>
                  <%= board.post %>
              </td>
              <td>
                  <% if user_signed_in? && current_user.id == board.user.id %>
                  <%= link_to '修正' , edit_board_path(board.id), method: :get, id:'edit_submit ' %>
                  <% end %>
              </td>
          
              <td>
                  <% if user_signed_in? && current_user.id == board.user.id %>
                  <%= link_to '削除' , board_path(board.id), method: :delete, id:'edit_delete ' %>
                  <% end %>
              </td>
          </tr>
          
          <% end %>
          
          <tr id="list">
          </tr>
          
      </tbody>
  </table>
  <%=paginate @boards%>

</section>


<% if user_signed_in? %>
<section id="comment">
    <div class="comment_wrapper">
        <h1>Leave a comment</h1>
    </div>
    <%# request.path_infoで現在のパス情報を取得、@board.idにはset_boardメソッドで定義した@boardのid情報が入る %>
    <%=form_with url: "/boards" , method: :post, id: "form" do |form| %>
    <%= form.text_field :post, id: "post" , placeholder:"コメントを入力してください",maxlength:"46",autofocus: true
                        %>
    <%= form.submit ' 投稿する' , id: "submit" %>
    <% end %>
    <%= link_to '更新する' ,root_path,id:"refresh" %>
</section>

<% end %>