<section class="title_wrapper">
  <div class="title">
      <h1>Bullentin Board</h1>
  </div>
  
  <div class="date_title">
      <%= @this_year %>年
      <%= @this_month %>月
      <%= @this_day %>日 (<%= @this_wday%>)
  </div>
</section>

<section class="table_wrapper">
  <table class="board_table">
      <thead>
          <tr>
              <th id="board_name">Name</th>
              <th id="board_date">Date</th>
              <th id="board_memo">Memo</th>
              <th id="board_edit">Edit</th>
              <th id="board_delete">Delete</th>
          </tr>
      </thead>
      <tbody>
          <% @boards.each do |board| %>
          <tr>
              <td>
                  <%= image_tag(board.user.avatar.variant(resize: '30x30' ),class:'board_user_name_image') %>
                  <span class="board_user_name"><%= board.user.last_name %></span>
              </td>
              <td>
                  <%= board.created_at.strftime('%Y年%m月%d日') %>
              </td>
              <td>
                  <%= board.post %>
              </td>
              <td>
                  <% if user_signed_in? && current_user.id == board.user.id %>
                  <%= link_to '修正' , edit_board_path(board.id), method: :get, class:'edit_comment' %>
                  <% end %>
              </td>
          
              <td>
                  <% if user_signed_in? && current_user.id == board.user.id %>
                  <%= link_to '削除' , board_path(board.id), method: :delete, class:'delete_comment' %>
                  <% end %>
              </td>
          </tr>
          
          <% end %>
          
          <tr id="list">
          </tr>
          
      </tbody>
  </table>
  <%=paginate @boards%>

</section>


<% if user_signed_in? %>
<section class="comment_wrapper">
    <div class="comment_title">
        <h1>Leave a comment</h1>
    </div>
    <%=form_with url: "/boards" , method: :post, class: 'comment_form' do |form| %>
       <%= form.text_field :post, class: 'input_comment' , placeholder:"コメントを入力してください",maxlength:"46",autofocus: true %>
       <%= form.submit ' 投稿する' , class: "submit_comment" %>
       <%= link_to '更新する' ,root_path,class:"update_comment" %>
    <% end %>
</section>

<% end %>